*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
}

.bg{
    background-image: url(../assets/img//bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.menu{
    width: 100%;
    height: 15vh;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
}

.hamburger{
  width: 4%;
  height: 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.ham{
  width: 100%;
}

ul{
    display: flex;
    list-style: none;
    gap: 70px;
}

li{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #fff;
}

.centralComponent{
  padding-top: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  color: #fff;
}

h1{
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 74px;
}

h1::after{
  margin: 34px auto 0 auto;
  content: '';
  display: block;
  width: 80%;
  height: 3px;
  background-color: #fff;
}

h1::before{
  margin: 0 auto 34px auto;
  content: '';
  display: block;
  width: 80%;
  height: 3px;
  background-color: #fff;
}

button{
  color: black;
  padding: 15px 43px;
  margin-top: 3%;
  font-family: 'Roboto Mono', monospace;  
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  border: none;
}

.socials{
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: flex-end;
  margin-top: 15%;
}

.socials a{
  cursor: pointer;
}

/*Animazioni*/

.hidden{
    display: none;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
    display: none;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    display: inline;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
    display: none;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    display: inline;
  }
}

.slide-out-left {
	-webkit-animation: slide-out-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: slide-out-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
    display: none;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    display: inline;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
    display: none;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    display: inline;
  }
}


.fade-out {
	-webkit-animation: fade-out 0.25s ease-out both;
	        animation: fade-out 0.25s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
	-webkit-animation: fade-out 0.25s ease-out reverse both;
	        animation: fade-out 0.25s ease-out reverse both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

